flows (4).json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "MonitoreoCalidadEnergía",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f964877bdf03c2c9",
        "type": "subflow",
        "name": "Subtópicos",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 860,
                "y": 200,
                "wires": [
                    {
                        "id": "d30b7c71c6caf52e",
                        "port": 0
                    },
                    {
                        "id": "3fc1f26d025f76a4",
                        "port": 0
                    },
                    {
                        "id": "7f011e6c37fd1c77",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "cf1d53115dbc9a92",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [],
        "out": [
            {
                "x": 680,
                "y": 280,
                "wires": [
                    {
                        "id": "8f18a65029322d26",
                        "port": 0
                    },
                    {
                        "id": "e08e874726dfdc7f",
                        "port": 0
                    },
                    {
                        "id": "9b3e922c7c774371",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "55f6af6108c99209",
        "type": "subflow",
        "name": "Subflow 2",
        "info": "",
        "in": [],
        "out": [
            {
                "x": 700,
                "y": 300,
                "wires": [
                    {
                        "id": "32adcbf2745b3002",
                        "port": 0
                    },
                    {
                        "id": "d871d20432260f02",
                        "port": 0
                    },
                    {
                        "id": "25e7b25e34fe9cd4",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "255b64947ca5b2b4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "48fb44efe0a5d5ce",
        "type": "ui_tab",
        "name": "ECG",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "16b9fbdec2a50a4e",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d7b9c5e8f0a711c5",
        "type": "ui_group",
        "name": "ECG",
        "tab": "48fb44efe0a5d5ce",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5f30a2205652b055",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f731efc23def1d97",
        "type": "ui_tab",
        "name": "Monitoreo",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f6392ed12cdd95a2",
        "type": "ui_group",
        "name": "Tópicos",
        "tab": "f731efc23def1d97",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": true,
        "className": ""
    },
    {
        "id": "c834f2cb561a2375",
        "type": "ui_group",
        "name": "Subtópicos",
        "tab": "f731efc23def1d97",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "3d3720a3fc7cdebd",
        "type": "ui_group",
        "name": "Parámetros",
        "tab": "f731efc23def1d97",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "83b1475710dc9adb",
        "type": "ui_tab",
        "name": "Estado",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8c30938f719c6ce0",
        "type": "ui_group",
        "name": "SwitchActivación",
        "tab": "83b1475710dc9adb",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e7f3b683.f4e298",
        "type": "mqtt-broker",
        "name": "Broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "f2082be3.8702f8",
        "type": "ui_group",
        "name": "PZEM004T Data",
        "tab": "4ad99a0d.89665",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4ad99a0d.89665",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "8d25bd2d96fad5d4",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "48fb44efe0a5d5ce",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "ba0c4d772b5d090e",
        "type": "ui_group",
        "name": "Calendario",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "4",
        "collapse": true
    },
    {
        "id": "f92c8594466e8603",
        "type": "ui_group",
        "name": "Programación semanal",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "63f34a35352f1bd4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "32e59906970725b1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8160d9413dd21358",
        "type": "mqtt in",
        "z": "f964877bdf03c2c9",
        "name": "",
        "topic": "/pot_activa",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5f30a2205652b055",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 120,
        "wires": [
            [
                "d30b7c71c6caf52e",
                "1ecdb02f31557072"
            ]
        ]
    },
    {
        "id": "6a28a3802ae6da9f",
        "type": "mqtt in",
        "z": "f964877bdf03c2c9",
        "name": "",
        "topic": "/pot_reactiva",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5f30a2205652b055",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 200,
        "wires": [
            [
                "3fc1f26d025f76a4",
                "72ca2e45c2e8a2fd"
            ]
        ]
    },
    {
        "id": "327e2ee5756504d4",
        "type": "mqtt in",
        "z": "f964877bdf03c2c9",
        "name": "",
        "topic": "/pot_aparente",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5f30a2205652b055",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 280,
        "wires": [
            [
                "7f011e6c37fd1c77",
                "6d8edb9f30739950"
            ]
        ]
    },
    {
        "id": "d30b7c71c6caf52e",
        "type": "ui_chart",
        "z": "f964877bdf03c2c9",
        "name": "",
        "group": "c834f2cb561a2375",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Potencia Activa (W)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 490,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "3fc1f26d025f76a4",
        "type": "ui_chart",
        "z": "f964877bdf03c2c9",
        "name": "",
        "group": "c834f2cb561a2375",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Potencia Reactiva (VAR)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "7f011e6c37fd1c77",
        "type": "ui_chart",
        "z": "f964877bdf03c2c9",
        "name": "",
        "group": "c834f2cb561a2375",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Potencia Aparente (VA)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "1ecdb02f31557072",
        "type": "debug",
        "z": "f964877bdf03c2c9",
        "name": "Potencia Activa",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 160,
        "wires": []
    },
    {
        "id": "72ca2e45c2e8a2fd",
        "type": "debug",
        "z": "f964877bdf03c2c9",
        "name": "Potencia Reactiva",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 240,
        "wires": []
    },
    {
        "id": "6d8edb9f30739950",
        "type": "debug",
        "z": "f964877bdf03c2c9",
        "name": "Potencia Aparente",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 320,
        "wires": []
    },
    {
        "id": "91acf14ac7edbd6c",
        "type": "comment",
        "z": "f964877bdf03c2c9",
        "name": "Subtópicos",
        "info": "Se manejan los subtópicos:\n- Potencia Activa\n- Potencia Reactiva\n- Potencia Aparente",
        "x": 100,
        "y": 60,
        "wires": []
    },
    {
        "id": "76aca773d42e67f5",
        "type": "mqtt in",
        "z": "cf1d53115dbc9a92",
        "name": "",
        "topic": "/pot_activa",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "255b64947ca5b2b4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 180,
        "wires": [
            [
                "8f18a65029322d26",
                "83bf9271fe7a4720"
            ]
        ]
    },
    {
        "id": "5b5be3ca887d552d",
        "type": "mqtt in",
        "z": "cf1d53115dbc9a92",
        "name": "",
        "topic": "/pot_reactiva",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "255b64947ca5b2b4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 280,
        "wires": [
            [
                "e08e874726dfdc7f",
                "cf48493d0db33979"
            ]
        ]
    },
    {
        "id": "5eb15a2f63942e5b",
        "type": "mqtt in",
        "z": "cf1d53115dbc9a92",
        "name": "",
        "topic": "/pot_aparente",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "255b64947ca5b2b4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 380,
        "wires": [
            [
                "9b3e922c7c774371",
                "c36a94618545fce8"
            ]
        ]
    },
    {
        "id": "cf48493d0db33979",
        "type": "debug",
        "z": "cf1d53115dbc9a92",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 320,
        "wires": []
    },
    {
        "id": "83bf9271fe7a4720",
        "type": "debug",
        "z": "cf1d53115dbc9a92",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 220,
        "wires": []
    },
    {
        "id": "c36a94618545fce8",
        "type": "debug",
        "z": "cf1d53115dbc9a92",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 420,
        "wires": []
    },
    {
        "id": "8f18a65029322d26",
        "type": "ui_chart",
        "z": "cf1d53115dbc9a92",
        "name": "",
        "group": "d7b9c5e8f0a711c5",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Pot_activa",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 390,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "e08e874726dfdc7f",
        "type": "ui_chart",
        "z": "cf1d53115dbc9a92",
        "name": "",
        "group": "d7b9c5e8f0a711c5",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Pot_reactiva",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 390,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "9b3e922c7c774371",
        "type": "ui_chart",
        "z": "cf1d53115dbc9a92",
        "name": "",
        "group": "d7b9c5e8f0a711c5",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Pot_aparente",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 400,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "4905425c15c1d7c5",
        "type": "mqtt in",
        "z": "55f6af6108c99209",
        "name": "",
        "topic": "/pot_act",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "255b64947ca5b2b4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 200,
        "wires": [
            [
                "32adcbf2745b3002",
                "79842282643aaa2e"
            ]
        ]
    },
    {
        "id": "57c84c1f937a5044",
        "type": "mqtt in",
        "z": "55f6af6108c99209",
        "name": "",
        "topic": "pot_rea",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5f30a2205652b055",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 300,
        "wires": [
            [
                "d871d20432260f02",
                "3bddb26b680c2c90"
            ]
        ]
    },
    {
        "id": "acd7eea88621f22b",
        "type": "mqtt in",
        "z": "55f6af6108c99209",
        "name": "",
        "topic": "/por_apa",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5f30a2205652b055",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 400,
        "wires": [
            [
                "25e7b25e34fe9cd4",
                "1b25fed68bfa29a9"
            ]
        ]
    },
    {
        "id": "79842282643aaa2e",
        "type": "debug",
        "z": "55f6af6108c99209",
        "name": "Potencia_activa",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 240,
        "wires": []
    },
    {
        "id": "3bddb26b680c2c90",
        "type": "debug",
        "z": "55f6af6108c99209",
        "name": "Potencia_reactiva",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 340,
        "wires": []
    },
    {
        "id": "1b25fed68bfa29a9",
        "type": "debug",
        "z": "55f6af6108c99209",
        "name": "Potencia_aparente",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 440,
        "wires": []
    },
    {
        "id": "32adcbf2745b3002",
        "type": "ui_chart",
        "z": "55f6af6108c99209",
        "name": "",
        "group": "c834f2cb561a2375",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Potencia activa",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 380,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "d871d20432260f02",
        "type": "ui_chart",
        "z": "55f6af6108c99209",
        "name": "",
        "group": "c834f2cb561a2375",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Potencia reactiva",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 390,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "25e7b25e34fe9cd4",
        "type": "ui_chart",
        "z": "55f6af6108c99209",
        "name": "",
        "group": "c834f2cb561a2375",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Potencia aparente",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 390,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "f38fe1837299ac74",
        "type": "ui_switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "8c30938f719c6ce0",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 290,
        "y": 220,
        "wires": [
            [
                "81861f444f28686c"
            ]
        ]
    },
    {
        "id": "81861f444f28686c",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/inTopic",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "255b64947ca5b2b4",
        "x": 660,
        "y": 220,
        "wires": []
    },
    {
        "id": "64cb6d2fbafdd4f4",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/voltaje",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5f30a2205652b055",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 280,
        "wires": [
            [
                "93d4b60a459f0703",
                "d789f964959b29c0",
                "9c0816d249da8ca7",
                "94814feb0db31da2"
            ]
        ]
    },
    {
        "id": "bf9032ee8de09ba0",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/current",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5f30a2205652b055",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 360,
        "wires": [
            [
                "65430b1342cb0b5b",
                "2b17a914aed73946",
                "9c0816d249da8ca7",
                "94814feb0db31da2"
            ]
        ]
    },
    {
        "id": "b3c411dd4dfbd9b9",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/power",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5f30a2205652b055",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 440,
        "wires": [
            [
                "9fd36df33c06fbc6",
                "5478187b2627c7eb",
                "9c0816d249da8ca7",
                "94814feb0db31da2"
            ]
        ]
    },
    {
        "id": "b82b419a525e5728",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/energy",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5f30a2205652b055",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 520,
        "wires": [
            [
                "0e2893ea81b6afab",
                "00e178b786f112af",
                "9c0816d249da8ca7",
                "94814feb0db31da2"
            ]
        ]
    },
    {
        "id": "557e3e731d098b72",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/frequency",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5f30a2205652b055",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 600,
        "wires": [
            [
                "4127ca533c4ff244",
                "209e251ac1139695",
                "9c0816d249da8ca7",
                "94814feb0db31da2"
            ]
        ]
    },
    {
        "id": "83b0c2b3dd610d45",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/pf",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5f30a2205652b055",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 680,
        "wires": [
            [
                "003744d422c2bd7b",
                "3666b0a13d351736",
                "9c0816d249da8ca7",
                "94814feb0db31da2"
            ]
        ]
    },
    {
        "id": "d789f964959b29c0",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Voltaje",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 320,
        "wires": []
    },
    {
        "id": "2b17a914aed73946",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Corriente",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 400,
        "wires": []
    },
    {
        "id": "5478187b2627c7eb",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Potencia",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 480,
        "wires": []
    },
    {
        "id": "00e178b786f112af",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Energía",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 560,
        "wires": []
    },
    {
        "id": "209e251ac1139695",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Frecuencia",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 640,
        "wires": []
    },
    {
        "id": "3666b0a13d351736",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Factor Potencia",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 720,
        "wires": []
    },
    {
        "id": "93d4b60a459f0703",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "f6392ed12cdd95a2",
        "order": 1,
        "width": 6,
        "height": 4,
        "label": "Voltaje (V)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "65430b1342cb0b5b",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "f6392ed12cdd95a2",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "Corriente (A)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#11ff00",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "9fd36df33c06fbc6",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "f6392ed12cdd95a2",
        "order": 3,
        "width": 6,
        "height": 4,
        "label": "Potencia (W)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#fbff00",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "0e2893ea81b6afab",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "f6392ed12cdd95a2",
        "order": 4,
        "width": 6,
        "height": 4,
        "label": "Energía (kWh)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "4127ca533c4ff244",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "f6392ed12cdd95a2",
        "order": 5,
        "width": 6,
        "height": 4,
        "label": "Frecuencia (Hz)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#bb00ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "003744d422c2bd7b",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "f6392ed12cdd95a2",
        "order": 6,
        "width": 6,
        "height": 4,
        "label": "Factor Potencia",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff00a2",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "9c0816d249da8ca7",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "3d3720a3fc7cdebd",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Parámetros",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 950,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "5162109262342ed4",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Tópicos",
        "info": "Se manejan los tópicos:\n- Voltaje\n- Corriente\n- Potencia\n- Energía\n- Frecuencia\n- Factor de Potencia",
        "x": 90,
        "y": 280,
        "wires": []
    },
    {
        "id": "f4d9eecade9ab9ad",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Control carga",
        "info": "Se genera la opción de control remoto de \nestado del relé\n",
        "x": 110,
        "y": 220,
        "wires": []
    },
    {
        "id": "d74e86169e8b218e",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Subflujo Tópicos",
        "info": "Se genera la relación con el subflujo donde\nestan los subtópicos",
        "x": 120,
        "y": 760,
        "wires": []
    },
    {
        "id": "c8a91c4805dfcc0d",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/pot_act",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5f30a2205652b055",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 840,
        "wires": [
            [
                "a30d5b72bb3de2ce",
                "4bf810178a3ca6c6",
                "9c0816d249da8ca7",
                "94814feb0db31da2"
            ]
        ]
    },
    {
        "id": "1db027b290e4e2d1",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/pot_rea",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "255b64947ca5b2b4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 940,
        "wires": [
            [
                "d4a33c4cce3bf2db",
                "d76582148dcb76eb",
                "9c0816d249da8ca7",
                "94814feb0db31da2"
            ]
        ]
    },
    {
        "id": "505b10e2a16cef67",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/pot_apa",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "255b64947ca5b2b4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 1040,
        "wires": [
            [
                "639ab2a7d5ef179a",
                "78c5eaaf5be4f2f4",
                "9c0816d249da8ca7",
                "94814feb0db31da2"
            ]
        ]
    },
    {
        "id": "4bf810178a3ca6c6",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Potencia_activa",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 880,
        "wires": []
    },
    {
        "id": "d76582148dcb76eb",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Potencia_reactiva",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 980,
        "wires": []
    },
    {
        "id": "78c5eaaf5be4f2f4",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Potencia_aparente",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 1080,
        "wires": []
    },
    {
        "id": "a30d5b72bb3de2ce",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "c834f2cb561a2375",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Potencia activa",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#00ffee",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "d4a33c4cce3bf2db",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "c834f2cb561a2375",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Potencia reactiva",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ffa200",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 570,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "639ab2a7d5ef179a",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "c834f2cb561a2375",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Potencia aparente",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 570,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "cf6d533bf5386555",
        "type": "file",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "filename": "\"C:\\Users\\ACER\\OneDrive\\Escritorio\\Universidad\\9° Semestre\\SistemasInteligentesII\\EsteSiDatosNodeRED.csv\"",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1740,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "94814feb0db31da2",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Add timestamp",
        "func": "var timestamp = new Date().toISOString(); //Get the current\nvar value = msg.payload; //Get the input value\n\n// Create the output message\nmsg.payload = timestamp + \", \" + value;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 600,
        "wires": [
            [
                "cf6d533bf5386555"
            ]
        ]
    }
]